@model QuanLyTrungTamDaoTao.Models.HocVien
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Xóa học viên";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            @if(TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    @TempData["SuccessMessage"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            <div class="card shadow">
                <div class="card-header bg-black text-white">
                    <h3 class="mb-0">Chỉnh sửa thông tin</h3>
                </div>
                <div class="card-body">
                    <form asp-area="Admin" asp-controller="HocViens" asp-action="XoaHocVienConfirm" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                        <input type="hidden" asp-for="MaHocVien" />
                        <div class="mb-3 row">
                            <label class="col-md-3 col-form-label">Mã học viên</label>
                            <div class="col-md-9">
                                <input class="form-control" value="@Model.MaHocVien" disabled readonly/>
                            </div>
                        </div>
                        
                        <div class="mb-3 row">
                            <label asp-for="HoTen" class="col-md-3 col-form-label">Họ và tên</label>
                            <div class="col-md-9">
                                <input asp-for="HoTen" class="form-control" readonly />
                            </div>
                        </div>
                        
                        <div class="mb-3 row">
                            <label asp-for="NgaySinh" class="col-md-3 col-form-label">Ngày sinh</label>
                            <div class="col-md-9">
                                <input asp-for="NgaySinh" class="form-control" type="date" readonly />
                            </div>
                        </div>
                        
                        <div class="mb-3 row">
                            <label asp-for="SoDienThoai" class="col-md-3 col-form-label">Số điện thoại</label>
                            <div class="col-md-9">
                                <input asp-for="SoDienThoai" class="form-control" readonly />
                            </div>
                        </div>
                        
                        <div class="mb-3 row">
                            <label asp-for="Email" class="col-md-3 col-form-label">Email</label>
                            <div class="col-md-9">
                                <input asp-for="Email" class="form-control" type="email" readonly />
                            </div>
                        </div>
                        
                        <div class="d-flex justify-content-end gap-2">
                            <p class="text-danger">*Lưu ý: Khi xóa học viên sẽ xóa cả tài khoản</p>
                            <button type="submit" class="btn btn-danger">Xóa</button>
                            <a asp-action="Index" asp-controller="HocViens" class="btn btn-secondary">Hủy</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}