@model QuanLyTrungTamDaoTao.ViewModels.LoginVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "DangNhap";
}

<form class="form" asp-controller="Account" asp-action="DangNhap" method="post">
    <div asp-validation-summary="All" class="text-danger"></div> <!-- Add this line to display all validation errors -->
    <div class="flex-column">
        <label>Tài Khoản</label>
    </div>
    <div class="inputForm">
        <input type="text" asp-for="userName" class="input" placeholder="Enter your Username">
    </div>

    <div class="flex-column">
        <label>Mật khẩu</label>
    </div>
    <div class="inputForm">
        <input type="password" asp-for="password" class="input" placeholder="Enter your Password">
    </div>

    <button type="submit" class="button-submit">Đăng Nhập</button>
    <div class="card-footer bg-light text-center py-3">
        <p class="mb-0">Chưa có tài khoản? <a asp-controller="Account" asp-action="DangKy" class="link-primary">Đăng ký ngay</a></p>
    </div>
</form>


<style>

    .form {
        flex-direction: column;
        gap: 10px;
        background-color: #ffffff;
        padding: 30px;
        width: 450px;
        border-radius: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 20px auto; /* Center the form horizontally */
    }

    .cover {
        flex-direction: column;
        gap: 10px;
        background-color: #ffffff;
        padding: 30px;
        width: 450px;
        border-radius: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 20px auto; /* Center the form horizontally */
    }

    ::placeholder {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .form button {
        align-self: flex-end;
    }

    .flex-column > label {
        color: #151717;
        font-weight: 600;
    }

    .inputForm {
        border: 1.5px solid #ecedec;
        border-radius: 10px;
        height: 50px;
        display: flex;
        align-items: center;
        transition: 0.2s ease-in-out;
    }

    .input {
        border-radius: 10px;
        border: none;
        width: 100%;
        height: 100%;
        padding-left: 20px;
    }

        .input:focus {
            outline: none;
        }

    .inputForm:focus-within {
        border: 1.5px solid #2d79f3;
    }

    .flex-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
    }

        .flex-row > div > label {
            font-size: 14px;
            color: black;
            font-weight: 400;
        }

    .span {
        font-size: 14px;
        margin-left: 5px;
        color: #2d79f3;
        font-weight: 500;
        cursor: pointer;
    }

    .button-submit {
        margin: 20px 0 10px 0;
        background-color: #151717;
        border: none;
        color: white;
        font-size: 15px;
        font-weight: 500;
        border-radius: 10px;
        height: 50px;
        width: 100%;
        cursor: pointer;
    }

        .button-submit:hover {
            background-color: #252727;
        }

    .p {
        text-align: center;
        color: black;
        font-size: 14px;
        margin: 5px 0;
    }

    .btn {
        margin-top: 10px;
        width: 100%;
        height: 50px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        gap: 10px;
        border: 1px solid #ededef;
        background-color: white;
        cursor: pointer;
        transition: 0.2s ease-in-out;
    }

        .btn:hover {
            border: 1px solid #2d79f3;
        }
</style>

